{{setYUIModule "le-home"}}
{{setDescription "Leslie Verploegen & Eric Ferraiuolo are getting married on October 5th, 2013 in Easton, MD."}}
{{addCSS "/css/home.css"}}

<h1 class="ann">
    <span class="ann-primary">Miranda Thompson</span>
    <span class="ann-secondary ann-sep">&amp;</span>
    <span class="ann-primary">Jesse Gambetti</span>
</h1>

<ol class="timeline l-grid">
  {{#event "Getting Married"
        time   = "May 30, 2014"
        photo  = "/photos/engagement.jpg"
        alt    = "Photo of Miranda and Jesse."}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Jesse and Miranda are getting married this Spring in <strong>Portland, Oregon</strong>.
    </p>

    <p class="button-wedding">
        <a class="button" data-icon="i" href="/wedding/">See Wedding Details</a>
    </p>

    {{> event/time}}
  {{/event}}

  {{#event "Celebrated Engagement"
        time  = "August 2, 2013"
        photo = "/photos/napa.jpg"
        alt   = "Photo of mountains in Palm Desert, CA"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        After getting engaged in Portland, Miranda and Jesse flew south out of the city to Palm Springs. They celebrated their engagement by spending a few romantic days relaxing next to the pool, sightseeing, touring wineries and doing some sight seeing.
    </p>

    {{> event/time}}
  {{/event}}

  {{#event "Got Engaged"
        time = "November 30, 2012 @ 3:00pm"
        map  = "ericf.map-2kpl38sn"}}

    {{> event/header}}
    {{> event/map}}

    <p>
       For their Anniversery Miranda and Jesse went for dinner at same restaurant, MetroVino, as their very first date - more on the first date in "our story." Across from MetroVino there's a beautiful little park, Tanner Springs. 
    </p>
    <p>
   It was in that little park, Tanner Springs, next to a bubbling water feature that Jesse asked Miranda to marry him.  She said yes and yes, they ended up at the Low Brow Lounge for another of many more kisses. 
	</p>
    <p>
   There is one, small detail that just can't be left unsaid, one perfect example of why Jesse fell in love with Miranda.  
   </p>
   <p>
   Jesse had just asked Miranda to marry him - they were looking at each other and smiling like idiots.  A homeless man came over and interrupted them.  He was carrying on about his addiction to alcohol and crack cocaine.  He told us about once having owned a house, working in a decent job, and about his family.
   </p>
   <p>
   Jesse watched Miranda, she paused and just gave everything she had to this stranger, listening, hearing and validating him, laughing with him.  She had completely given up her moment - she had allow her moment to be augmented with this new experience.  She was called upon in this moment to be unselfish, to love another human being, and she did.
    <p>
        Once up on Twin Peaks, after looking down on the city from the pedestrian lookout, Eric suggested that they hike to the top of one of the hills. At the top they could see the Pacific Ocean, the Golden Gate Bridge, and downtown San Francisco. Looking up at Leslie with the city behind him, Eric ask Leslie to marry him. And of course <strong>she said “Yes!”</strong>
    </p>

    {{> event/time}}
  {{/event}}

    <li class="timeline-events">
        <ol class="l-grid">
           {{#event "Left for SF “Vacation”"
                who  = "leslie"
                time = "November 29, 2012"}}

            {{> event/header}}

            <p>
TBD            
</p>
            <p>
TBD            
</p>
            <p>
TBD            
</p>

            {{> event/time}}
          {{/event}}

          {{#event "Got the Ring"
                who  = "eric"
                time = "November 7, 2012"}}

            {{> event/header}}

            <p>
TBD            
</p>
            <p>
TBD            
</p>
            <p>
TBD            
</p>

            {{> event/time}}
          {{/event}}
        </ol>
    </li>

  {{#event "Moved in Together"
        time  = "August 15, 2009"
        photo = "/photos/apartment.jpg"
        alt   = "Photo fo Leslie’s and Eric’s apartment in Boston."}}

    {{> event/header}}
    {{> event/photo}}

    <p>
TBD    
</p>

    {{> event/time}}
  {{/event}}

  {{#event "Went on First Date"
        time = "January 29, 2008"}}

    {{> event/header}}

    <p>
TBD    
</p>
    <p>
TBD    
</p>

    {{> event/time}}
  {{/event}}

  {{#event "Became Snowboard Buddies"
        time  = "January 2008"
        photo = "/photos/snowboarding.jpg"
        alt   = "Photo of Leslie and Eric on a chair lift."}}

    {{> event/header}}
    {{> event/photo}}

    <p>
TBD    
</p>

    {{> event/time}}
  {{/event}}

  {{#event "Met for the First Time"
        time = "July 2007"}}

    {{> event/header}}

    <p>
TBD    
</p>
    <p>
TBD    
</p>
    <p>
        <strong>Finally,</strong> 
    </p>
    <p>
TBD    
</p>

    {{> event/time}}
  {{/event}}

    <li class="timeline-events">
        <ol class="l-grid">
          {{#event "Moved: MI to Boston"
                who  = "eric"
                time = "June 2007"
                map  = "ericf.map-33lesuym"}}

            {{> event/header}}
            {{> event/map}}

            <p>
TBD            
</p>

            {{> event/time}}
          {{/event}}

          {{#event "Moved: VA to Boston"
                who  = "leslie"
                time = "July 2006"
                map  = "ericf.map-bsmwt9pf"}}

            {{> event/header}}
            {{> event/map}}

            <p>
TBD            
</p>

            {{> event/time}}
          {{/event}}
        </ol>
    </li>
</ol>
