{{setYUIModule "le-home"}}
{{setDescription "Miranda Thompson & Jesse Gambetti are getting married on May 30th, 2014 in The Pearl District, Portland, OR."}}
{{addCSS "/css/home.css"}}

<h1 class="ann">
    <span class="ann-primary">Miranda Thompson</span>
    <span class="ann-secondary ann-sep">&amp;</span>
    <span class="ann-primary">Jesse Gambetti</span>
</h1>

<ol class="timeline l-grid">
  {{#event "Getting Married"
        time   = "May 30, 2014"
        photo  = "/photos/engagement.jpg"
        alt    = "Photo of Miranda and Jesse."}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Jesse and Miranda are getting married this Spring in <strong>Portland, Oregon</strong>.
    </p>

    <p class="button-wedding">
        <a class="button" data-icon="i" href="/wedding/">See Wedding Details</a>
    </p>

    {{> event/time}}
  {{/event}}

  {{#event "Celebrated Engagement"
        time  = "September, 2013"
        photo = "/photos/palmsprings.jpg"
        alt   = "Photo of golf kisses in Palm Desert, CA"}}

    {{> event/header}}
    {{> event/photo}}
  {{/event}}

  {{#event "Celebrated Engagement 2"
        time  = "September, 2013"
        photo = "/photos/mirandahair.jpg"
        alt   = "Photo of mountains in Palm Desert, CA"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        After getting engaged in Portland, Miranda and Jesse flew south out of the city to Palm Springs. They celebrated their engagement by spending a few romantic days relaxing next to the pool, sightseeing, touring wineries and doing some sight seeing.
    </p>

    {{> event/time}}
  {{/event}}

  {{#event "Got Engaged"
        time = "August 16, 2013 @ 9:00pm"
        map  = "ericf.map-2kpl38sn"}}

    {{> event/header}}
    {{> event/map}}

    <p>
       For their Anniversery Miranda and Jesse went for dinner at same restaurant, MetroVino, as their very first date - more on the first date in "our story." Across from MetroVino there's a beautiful little park, Tanner Springs. 
    </p>
    <p>
   It was in that little park, Tanner Springs, next to a bubbling water feature that Jesse asked Miranda to marry him.  She said yes and yes, they ended up at the Low Brow Lounge for another of many more kisses. 
	</p>
    <p>
   There is one, small detail that just can't be left unsaid, one perfect example of why Jesse fell in love with Miranda.  
   </p>
   <p>
   Jesse had just asked Miranda to marry him - they were looking at each other and smiling like idiots.  A homeless man came over and interrupted them.  He was carrying on about his addiction to alcohol and crack cocaine.  He told us about once having owned a house, working in a decent job, and about his family.
   </p>
   <p>
   Jesse watched Miranda, she paused and just gave everything she had to this stranger, listening, hearing and validating him, laughing with him.  She had completely given up her moment - she had allow her moment to be augmented with this new experience.  She was called upon in this moment to be unselfish, to love another human being, and she did.
</p>

  {{#event "Jesse crushes Miranda's Dreams"
        time  = "February 2014"
        photo = "/photos/snowboarding.jpg"
        alt   = "Photo of Miranda and Jesse during SnowPocalypse."}}

    {{> event/header}}
    {{> event/photo}}

    <p>
TBD    
</p>

        </ol>
    </li>
</ol>
